* {
  box-sizing: border-box;
  font-size: 20px;
}

html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  line-height: 150%;
}

body > div {
  overflow-x: hidden;
}

.center_text {
  text-align: center;
}


.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  width: 100%;
  float: left;
  padding-right: 30px;
  padding-left: 15px;
}

.current_player > h2 {
  color: rgb(20, 90, 14);
}

.current_player {
  background-color: grey;
}

#ttt-board {
  width: 100vw;
  align-items: center;
  justify-content: center;
}

#ttt-board table {
  width: 100%;
  height: 100%;
}

#ttt-board td {
  height: 0;
}

#ttt-board td:after, #ttt-board td:before {
  content: '';
  display: block;
}

.disabled {
   background-color: grey !important;
   color: black !important;
}

#ttt-board button {
  width: 100%;
  height: 20vh;
  vertical-align: middle;
  border: none;
  background-color: #27273a;
  color: white;
}


.col-3 {
  width: 50%;
}

#player-score > div {
  display: flex;
  justify-content: space-between;
}

#copyright {
  color: grey;
  font-size: 10px;
}

#options button {
  height: 50px;
}

@media screen and (min-width: 1023px) {
  .col-2 {
    width: 33%;
  }
  .col-4 {
    width: 33%;
  }

  #player-separator > h3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}